<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>test</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />
	<script src="./javascripts/jquery-1.10.1.min.js" type="text/javascript"></script>

<script>

		$(document).ready(function() {       
			$('#button').click(function(){
				//alert('click success');
                			var name=$('#name').val();
              				 console.log(name);
                //console.log($('#name'));
                //console.log($('#name').attr("value"));
				$.get("/user?name="+name,function(data,status){
   					if(status == 'success'){
   						console.log(status);
					               console.log(data);
					               $('p').html(data);
					}
  });
			

			})
		
		});
	</script>

</head>

<body>
<input type='text' id="name" value="default value"/>
<input type='button' value="input" id="button"/>
<p></p>
</body>

</html>
